
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-bottom:10px; padding-top:0px; font-size:24px; background-color:#eeeeee; margin-top:0px">
    <div class="col-sm-7" style=" padding:30px 20px 30px 20px">
        <strong>Welcome to your Personal INTENT-CAD </strong>
        <h4 class="blue">
            <strong>
                EMR Portal (More Changes)

                Next Steps: “Physician Specific Requirements” Section
            </strong>
        </h4>
        <h4>
            <ol>
                <li>
                    Review and Complete the Memorandum of Understanding (MOU)
                </li>
                <li>
                    Complete the Payee Form
                </li>
            </ol>
        </h4>
        <h4><strong>A member of the QHR Technologies team will be in touch with you to activate your dashboard and provide the instructions for participation. </strong></h4>
        <h4>&nbsp;</h4>
        <h4>Dear Colleague,      </h4>
        <h4>On behalf of the Canadian Heart Research Centre and the, we welcome you to your personal online portal and thank you for taking part in this initiative. The INTENT-CAD EMR Program is coordinated by the Canadian Heart Research Centre (CHRC; www.chrc.net), a not-for-profit academic organization specializing in quality improvement initiatives, and is supported by Bayer Canada.      </h4>
        <h4>The INTENT-CAD EMR program will allow you to confidentially assess your practice needs through your EMR platform and will facilitate knowledge translation through evidence-based clinical decision making support. The decision to follow the recommendations is left to your discretion.      </h4>
        <h4><strong><u>INTENT-CAD Program Primary Program Objectives:</u></strong></h4>
        <ul>
            <li>
                <h4>
                    To identify, describe and gain insight into the<br>
                    management of Canadian patients with coronary artery disease (CAD) with or without peripheral arterial disease (PAD) and related co-morbidities who may benefit from evidence-based therapy to reduce cardiovascular events and to identify barriers, including, clinical inertia, and implement ways to overcome these in order to optimize management
                </h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>To identify and describe CAD patients and the prevalence in practice, current secondary prevention therapeutic management and;          </h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>To seek feedback on the next management steps or barriers to optimizing management through the use of the custom form for the target population (those patients who may benefit from dual-pathway inhibition) and;</h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>To assess pre and post changes to the therapeutic management of the target population highlighted within the EMR dashboard and;          </h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4> To study the impact of the EMR dashboards and the evidence-based intervention on the physicians’ practices and clinical inertia as measured by compliance with best practice recommendations. </h4>
            </li>
        </ul>
        <h4>The INTENT-CAD EMR program has been reviewed and approved by OPTIMUM Clinical Research Inc., an independent, central Ethics Review Board.      </h4>
        <h4>Please take a few minutes to familiarize yourself with the program requirements.      </h4>
        <ul>
            <li>
                <h4>Download: <strong><a href="#">INTENT-CAD EMR Program Overview </a></strong></h4>
            </li>
        </ul>
        <h4>Our team is happy to assist you with any questions. Please do not hesitate to contact us at any time:<a href="contact.html"> Contact Us</a></h4>
        <h4>We look forward to collaborating with you.      </h4>
        <h4>&nbsp;</h4>
        <h4>With best regards,      </h4>
        <h4>
            Shaun Goodman, MD
            <br>
            <strong class="blue">INTENT-CAD EMR Program Chair </strong>
        </h4>
    </div>
</div>

