
@{
    ViewBag.Title = "IntroVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-bottom:10px; padding-top:0px; font-size:24px; background-color:#eeeeee; margin-top:0px">


    <div class="col-sm-7" style=" padding:30px 20px 30px 20px">
        <strong>Introductory Video </strong>

        <br>
        <br>
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls="" src="/video/intro.mp4" type="video/mp4"></video>
        </div>

    </div>

    </div>

