@model IntentCADEMR.Models.MOUModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-bottom:10px; padding-top:0px; font-size:24px; background-color:#eeeeee; margin-top:0px">
  

    <!--Right Content  XS S MD LG Screens-->
    <div class="col-sm-7" style=" padding:30px 20px 30px 20px">
        <strong>Memorandum of Understanding (MOU) </strong>

        <br>
        <h4>
            <strong>
                INSTRUCTIONS
            </strong>
        </h4>
        <ul>
            <li>
                <h4>
                    Acknowledging that you have reviewed and agree to the terms of this MOU in its entirety is a mandatory requirement
                </h4>
            </li>
            <li>
                <h4>
                    Once reviewed check the "Agree to Terms" box and click the "Submit" button (the status in your dashboard will change to a checkmark (<span class="glyphicon glyphicon-check"></span>)
                </h4>
            </li>
        </ul>

        <h4>
            <br>
            Thank you for agreeing to participate in the INTENT-CAD EMR program coordinated by the Canadian Heart Research Centre ("CHRC") and supported by Bayer Canada.
            QHR Technologies has been engaged to design the dashboard within the Accuro EMR Platform based on the direction provided by the CHRC and the program Scientific Planning Committee.
            By registering to participate, you acknowledge and confirm that you currently utilize the Accuro EMR platform in your practice and have user permission to share the dashboard with the CHRC.
            Please review the following information and make yourself familiar with the INTENT-CAD EMR program components, as well as your expected role as a program participant, and the CHRC’s role, as the coordinating centre.
        </h4>
        <p class="blue">
            <u>
                <br>
                INTENT-CAD EMR&nbsp;PROGRAM:
            </u>
        </p>
        <h4>The participating physician represents and agrees to the following responsibilities:      </h4>
        <ul>
            <li>
                <h4>Read and understand this Memorandum of Understanding (MOU) and the INTENT-CAD EMR program materials and timelines and ensure that all person(s) in your practice who may be associated with this initiative also review and understand these materials;      </h4>
            </li>
            <li>
                <h4>Confirm that you utilize the Accuro EMR platform and have full user permission rights to participate in quality improvement initiatives;      </h4>
            </li>
            <li>
                <h4>Confirm that you manage an active CAD population in your practice AND that a minimum of thirty (30) active patients meeting the eligibility criteria are already OR will be coded with the 410”, “412”, “413”, “414” or “440” ICD-9 code or equivalent;      </h4>
            </li>
            <li>
                <h4> Complete the “Custom Forms” for the segmented target population (CAD and additional risk factors and currently treated with ASA) which are automatically selected from the INTENT-CAD EMR eligible population (adult patients coded as CAD with additional risk factors and currently treated with ASA).      </h4>
            </li>
            <li>
                <h4>Partake in the INTENT-CAD EMR Program in its entirety or promptly advise the CHRC if you are unable to complete the project;      </h4>
            </li>
            <li>
                <h4>Review the Terms and Conditions provided in your Accuro EMR Platform and provide permission for your aggregate practice results to be shared with the CHRC. The CHRC will only have access to aggregate practice level data specific to the identified INTENT-CAD EMR population and the only based on the variables that are visible to the participating physician;      </h4>
            </li>
            <li>
                <h4>Complete the required EMR dashboard clean up and answer questions as applicable;      </h4>
            </li>
            <li>
                <h4>Be available to answer any data queries;      </h4>
            </li>
            <li>
                <h4>Exercise reasonable and diligent efforts and professional expertise in the conduct and completion of the program documents in an efficient and timely manner and in compliance with the program instructions.      </h4>
            </li>
            <li>
                <h4>Acknowledges and agrees that there are no known circumstances which would place the participating physician in a conflict of interest as a result of the participation and performance of the INTENT-CAD EMR program. </h4>
            </li>
        </ul>
        <h4 class="blue">
            <u>
                <br>
                The CHRC&nbsp;represents to&nbsp;the following responsibilities:&nbsp;
            </u>
        </h4>

        <ul>
            <li>
                <h4>Provide all the necessary program materials to the participating physician;</h4>
            </li>
            <li>
                <h4>Be available to answer questions in relation to the&nbsp;INTENT-CAD EMR&nbsp;program&nbsp;documents, instructions and/or the completion of&nbsp;any program specific&nbsp;materials;</h4>
            </li>
            <li>
                <h4>Will not share&nbsp;individual&nbsp;physician practice level data with the program sponsors &nbsp; </h4>
            </li>
            <li>
                <h4><strong>Provide physicians with remuneration for properly completed program components as following&nbsp;and based on the outlined&nbsp;payment schedule:</strong></h4>
                <ul>
                    <li>
                        <h4>In addition to completing this MOU, the Payee Form and accepting the terms of sharing with the CHRC</h4>
                    </li>
                    <li>
                        <h4><span class="blue">ACTION ITEM 1:</span>&nbsp;<strong>CAD&nbsp;Coded Patients</strong></h4>
                        <ul>
                            <li>
                                <h4><strong>Minimum 30</strong>&nbsp;Coded Patients (to be eligible to participate):&nbsp;​<strong>$250.00</strong></h4>
                            </li>
                            <li>
                                <h4><strong>31 – 40</strong>&nbsp;Coded Patients:&nbsp;​​​​<strong>$300.00 </strong></h4>
                            </li>
                            <li>
                                <h4><strong>41 – 50</strong>&nbsp;Coded Patients:&nbsp;​​​​<strong>$350.00</strong></h4>
                            </li>
                            <li>
                                <h4><strong>&gt; 50</strong>&nbsp;Coded Patients:&nbsp;​​​​<strong>$400.00</strong></h4>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <ul>
                <li>
                    <h4><span class="blue">ACTION&nbsp;ITEM 2:</span>&nbsp;<strong>Completion of the Custom Forms&nbsp;</strong></h4>
                    <ul>
                        <li>
                            <h4><strong>$13.50&nbsp;for&nbsp;each completed custom form</strong>&nbsp;(to a maximum of 50 forms)&nbsp;</h4>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>

        <h4>
            <br>
            <strong>General: </strong><br>
            By participating in the INTENT-CAD EMR program the relationship of the participating physician to the CHRC is that of an independent contractor. Physician shall have no authority to make agreements with third parties that are binding on the CHRC.
            <br>
            <br>
        </h4>
        <h4>
            <strong>To view/print this document, please click&nbsp;<u><a href="~/PDF/MOU.pdf" target="new" title="<u>here</u>"><u>here</u></a></u>.</strong><br>
            <br>
        </h4>
        <table style="border:3px solid #F00" width="100%" cellspacing="0" cellpadding="10">
            <tbody>
                <tr>
                    <td colspan="2" style="padding:10px 10px 0px 10px"><h4><strong>Agree to Terms:</strong></h4></td>
                </tr>
                <tr>
                    <td style="padding:0px 10px 10px 10px" width="5%">
                        <input type="checkbox" id="chkMOU" name="chkMOU" @(Model.MOU.HasValue ? (Model.MOU.Value ? "checked" : "false") : "false") />
                    </td>
                    <td style="padding:0px 10px 10px 10px" width="95%"><h4>I have read and agree to the terms of the&nbsp;<span class="blue">Memorandum of Understanding</span>&nbsp;and certify that I hold a valid license to practice medicine in Canada.</h4></td>
                </tr>
                <tr>
                    <td>&nbsp;</td><td><p><span id="spanResult" style="color:red"></span></p></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <div style="text-align:center;">
            <button type="button" id="btn-submit" class="btn btn-primary btn-lg" >SUBMIT</button>
           
        </div>
    </div>
</div>



    <script type="text/javascript">


                            $(document).ready(function (e) {






                                var submitted = '@Model.IsSubmitted';


                                if (submitted === 'True') {
                                    $("##btn-submit").attr('disabled', 'disabled').css('opacity', 0.5);



                                    $('input[type = radio], input[type = checkbox], input[type = text], input[type = textarea], select').attr('disabled', 'disabled').attr('readonly', 'readonly');

                                }
                                var SubmitForm = function () {

                                    $.ajax({

                                        url: '/Home/SetMOU',
                                        type: 'POST',
                                        data: { isChecked: $("#chkMOU")[0].checked },
                                        dataType: 'json',
                                        success: function (data) {
                                            debugger;
                                            //alert('Data: ' + data);
                                            $("#spanResult").html('');
                                            console.log(data.success.msg);
                                           // $("#spanResult").html(data.success.msg);
                                             window.location.href = '/Home/Index';
                                        },
                                        error: function (data) {

                                            //alert("Request: " + JSON.stringify(request));
                                            $("#spanResult").html('');
                                            $("#spanResult").html(data.Error);
                                        }
                                    });

                                }

                                $("#btn-submit").click(function () {
                                    var IsMouChecked = $('#chkMOU').is(':checked');
                                    if (IsMouChecked) {
                                        SubmitForm();
                                    }

                                    else {
                                        $("#spanResult").html('* Please check the MOU checkbox');
                                    }

                                });

                                $("#btn-submit").click(function () {
                                    var IsMouChecked = $('#chkMOU').is(':checked');
                                    if (IsMouChecked) {
                                        SubmitForm();
                                    }

                                    else {
                                        $("#spanResult").html('* Please check the MOU checkbox');
                                    }

                                });
                            });

  </script>
